{% extends "base.html" %}

{% block main %}
<hr />
<div class="container-fluid mt-3">
    <!-- The Grid -->

    <div class="row">
        <!-- Left Column -->
        <div class="col-sm-3 mt-3">
            <div class="card rounded">
                <img class="card-img-top" src="https://www.w3schools.com/bootstrap4/img_avatar6.png" alt="Card image" style="width:100%">
                <div class="w3-display-bottomleft w3-container w3-text-black">
                    <h2>Chia-wen Chen</h2>
                </div>
            </div>
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large"></i>SQA Assistant Engineer</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large"></i>Teipei, Taiwan</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large"></i>e36272123@gmail.com</p>

            <hr>
            <p class="w3-large"><b><i class="fa fa-seedling fa-fw w3-margin-right text-info"></i>Skills</b></p>
            <p>Application</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge bg-secondary" style="height: 15px; width: 60%"></div>
            </div>
            <p>Website</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge bg-info" style="height: 15px; width: 55%"></div>
            </div>
            <p>IOT <span class="badge bg-warning">興趣</span></p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge bg-info" style="height: 15px; width: 45%"></div>
            </div>
            <p>Product design</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge bg-secondary" style="height: 15px; width: 40%"></div>
            </div>
            <p>AI</p>
            <div class="w3-light-grey w3-round-xlarge w3-small">
                <div class="w3-container w3-center w3-round-xlarge progress-bar bg-secondary" style="height: 15px; width: 20%"></div>
            </div>
            <br>

            <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right text-info"></i>Languages</b></p>
            <p>Python</p>
            <div class="w3-light-grey w3-small">
                <div class="w3-round-xlarge bg-info" style="height:15px;width:65%"></div>
            </div>
            <p>Java</p>
            <div class="w3-light-grey w3-small">
                <div class="w3-round-xlarge bg-info" style="height:15px;width:55%"></div>
            </div>
            <p>C</p>
            <div class="w3-light-grey w3-small">
                <div class="w3-round-xlarge bg-secondary" style="height:15px;width:50%"></div>
            </div>
            <p>C#</p>
            <div class="w3-light-grey w3-small">
                <div class="w3-round-xlarge bg-secondary" style="height:15px;width:40%"></div>
            </div>
            <p>JavaScript</p>
            <div class="w3-light-grey w3-small">
                <div class="w3-round-xlarge bg-secondary" style="height:15px;width:40%"></div>
            </div>
            <p>Others</p>
            <div class="w3-light-grey bg-secondary">
                <div class="w3-round-xlarge bg-secondary" style="height:15px;width:20%"></div>
            </div>
            <br>
        </div>




        <div class="col-sm-5 mt-3">
            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-padding-16"><i class="fa fa-user-circle fa-fw w3-margin-right w3-xxlarge text-info"></i>About Me</h2>
                <div class="w3-container">
                    <p>
                        從幼年接觸網路起，便熱愛電腦科技，立志成為程式設計師。<br>
                        長年在網路參與討論，養成客觀思考與時常自省的習慣，<br>
                        認為人生最重要的不是現在擁有什麼，而是從未停止思考如何更臻完美。<br><br>
                        喜歡研究軟韌體系統與如何實作，樂於將成果和心得同他人分享，<br>
                        在學期間積極選修專業課程、參加系上舉辦的講座以培養多元技能，<br>
                        雖然一度因為家庭經濟問題而休學工作，但也因此更加堅定人生目標！<br />
                        對IOT、軟體應用程式與視覺辨識領域都有濃厚興趣，<br />
                        希望能在具有創新靈魂的公司任職，逐步成為資深工程師。
                    </p>
                    <hr>
                    <h5 class="w3-opacity"><b>實作經驗</b></h5>
                    <p>
                        語言：Python、Java、C、C#<br>
                        工具：AutoCAD、ERP、Linux、Unity3D、Sikuli、Git、NodeRed<br>
                        資料庫：MySQL、Sybase、SQLite<br>
                        基礎：基本電路焊接、機器學習與AI概念、PyTorch影像辨識實作、Android小型App<br>
                        慣用IDE：Visual Studio、Notepad++<br>
                        其他技能：2D繪圖、UI視覺設計
                    </p>
                    <hr>
                </div>
            </div>
            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-padding-16"><i class="fas fa-images w3-margin-right w3-xxlarge text-info"></i>Portfolio</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>點擊圖片跳轉至作品介紹</b></h5>
                    <p>
                        picture
                    </p>
                </div>
            </div>

            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-padding-16"><i class="fa fa-book-reader fa-fw w3-margin-right w3-xxlarge text-info"></i>Career Planning</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>近期</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-genderless fa-fw w3-margin-right"></i>精進演算法、跨足韌體圈</h6>
                    <p>
                        自研STM32，掌握單片機的嵌入式系統設計。
                        <br>
                        閒暇時間拿來優化現有專案，或研發各種有趣實用的APP、工具或 IOT，
                        <br>
                        同時自學作業系統開發、示波器等屬於電機和資工系的領域知識。
                    </p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>中期</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-genderless fa-fw w3-margin-right"></i>外語能力與新技術追蹤</h6>
                    <p>
                        透過開放性課程精進對AI、視覺辨識，與各種新技術的知識和敏銳度。<br>
                        訓練自己閱讀英文Paper和讀寫能力，期望達到自發學習新技術不求人！<br>
                        預計在五年內在職進修資訊工程系的碩士學位。
                    </p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>長期</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-genderless fa-fw w3-margin-right"></i>全能資深工程師之路</h6>
                    <p>
                        持續與前輩們借鑑和學習，向能夠跨足多種工作，但也不缺乏技術深度的資深工程師邁進！<br>
                    </p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mt-3">
            <div class="w3-container w3-card w3-white w3-margin-bottom">
                <h2 class="w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge text-info"></i>Work Experience</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>SQA Assistant Engineer / nuvoTon</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018/02 - 2022/03 <span class="w3-tag w3-teal w3-round">Current</span></h6>
                    <p>
                        除了人工測試、撰寫與修改測試用Project外，也獨力編寫自動化測試，依情況協助主管優化Test plan。<br>
                        期間對MCU的運作邏輯、硬體與記憶體架構有基本概念，為此自學焊接Chip腳位與LED，察覺自己對韌體和IOT領域有極大興趣。
                    </p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>晚班賣場兼職 / DAISO JAPAN 漢神巨蛋</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017/01 - 2018/04</h6>
                    <hr>
                </div>

            </div>

            <div class="w3-container w3-card w3-white">
                <h2 class="w3-padding-16"><i class="fa fa-university fa-fw w3-margin-right w3-xxlarge text-info"></i>Education</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>人工智慧物聯網產業應用人才養成班</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2021/06 - 2021/08</h6>
                    <p>
                        用Python進行資料擷取、分析、網站輸出與控制硬體，建立機器學習及AI概念，<br>
                        用PyTorch、Google Colab實作影像辨識與模型訓練過程，並於期末繳交成果發表。
                    </p>
                    <hr>
                </div>

                <div class="w3-container">
                    <h5 class="w3-opacity"><b>國立高雄科技大學 商業資訊應用系</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2013 - 2017, 2020 - 2021</h6>
                    <p>
                        原高雄海洋科技大學的資訊管理系。<br>
                        在校期間積極學習Web前後端、網路協定及資料庫管理、資訊安全等知識，<br>
                        並參加校內AutoCAD、Android App、Arduino講座，修習與物聯網領域相關的微學分。<br>
                    </p>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>臺北市立松山家事商業職業學校 附設綜合高中 商業學程</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2010/09 - 2013/06</h6>
                    <p>
                        高一時即為班排前五，選擇商管群後維持班排前三。<br>
                        在升上高二的短短暑假內通過會計技術檢定，對密集訓練與跨領域學習適應力佳。
                    </p>
                </div>
            </div>
        </div>
        <br>

        <!-- End Left Column -->
    </div>

        <!-- Right Column -->
        <div class="col">


            <!-- End Right Column -->


        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>
{% endblock %}