{% extends "base.html" %}

{% block title %} 東方世家 {% endblock %}
{% block headmessage %} 東方世家 {% endblock %}
{% block main %}

<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
</style>

<div class="container-sm mt-5 p-5">
        <h1>樂透模擬器</h1>
        <h5>開獎結果：</h5>

        <h4>特別號：{{sp}}</h4>
        <h4>樂透：{{lotto}}</h4>
    </div>
        {% endblock %}
