<!--<script>
    $('#delModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>-->
{% extends "base.html" %}
{% block title %} 文章列表 {% endblock %}
{% block headmessage %} 文章列表 {% endblock %}

{% block main %}
<script type="text/javascript">
         //如果href中有delModal，點擊後會調用如下函數
    $("[href='#delModal']").click(function(){
            var del_id = "#" + $(this).attr('id');
});
</script>
<hr>
<br />
<div class="container-sm mt-3 table-responsive-md">
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text" id="btnGroupAddon">跳轉</div>
            </div>
            <input type="text" class="form-control" placeholder="文章ID" aria-label="inputGroup" aria-describedby="btnGroupAddon">
        </div>
        <!--</div>
        <div class="btn-toolbar justify-content-end" role="toolbar" aria-label="button groups">-->
        <div class="btn-group justify-content-end" role="group" aria-label="group1">
            <button type="button" class="btn btn-outline-secondary">1</button>
            <button type="button" class="btn btn-outline-secondary">發表文章</button>
            {% if request.user.is_superuser %}
            <button type="button" class="btn btn-outline-secondary">管理模式</button>
            {% endif %}
        </div>
    </div>
    <br />


    <table class="table table-striped table-hover table-md align-middle">
        <thead class="table-dark">
            <tr>
                <th scope="col" style="width: 5%"><center>#</center></th>
                <th scope="col" style="width: 60%"><center>標題</center></th>
                <th scope="col" style="width: 25%"><center>發表日期</center></th>
                <th scope="col" style="width: 10%"><center> </center></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for post in posts %}
                <td align="center">{{ post.id }}</td>
                {% if request.user.is_authenticated %}
                <td><a href="/show/{{ post.id }}" class="text-secondary">{{ post.title }} </a></td>
                {% else %}
                <td class="text-secondary">{{ post.title }} </td>
                {% endif %}
                <td align="center">{{ post.pub_date }}</td>

                {% if request.user.is_superuser %}
                <td>
                    <div class="btn-group container" role="group" aria-label="managet">
                        <a href="/edit/{{  post.id  }}" class="btn btn-outline-dark btn-sm">編輯</a>
                        <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delModal" id="del_{{ post.id }}">刪除</button>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- The Modal -->
<div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="delModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h3 class="modal-title" id="delModalLabel">刪除文章</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <h4>
                    確定刪除這篇文章？此動作無法復原。
                </h4>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                <a href="/delete/{{ post.id }}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

    {% endblock %}



