
{% extends "base.html" %}

{% block title %} 國際城市人口排行 {% endblock %}
{% block headmessage %} 國際城市人口排行榜 {% endblock %}
{% block main %}
    <hr>
    <div class="container-sm">
    <form action="/rank/" method=POST class="row g-2"><!-- submit後傳送給/rank，將資料以POST方式傳送 -->
        <div class="btn-toolbar justify-content-between col-sm-3">
        <label for="selCountry" class="col-md-4 col-form-label">選擇國家：</label>
        <select name="get_countryid" class="form-control-sm"> <!-- 下拉式選單 -->
        <option selected>全部</option>
            {% for country in countries %}
                <option value="{{country.id}}">{{country.name}}</option> <!-- 選單文字內容country.name，傳送country.id的值-->
            {% endfor %}
      {% csrf_token %} <!-- Django避免跨站請求偽造的作法 --></select></div>
    <div class="col-md-4"><input type='submit' class="btn btn-secondary" value="選擇"></div>
    </div>
    </form>

    <table class="table table-striped table-hover align-middle"><!-- table模板 -->
        <tr class="bg-dark"><!-- 黑色 -->
            <td colspan="3" align="center" class="table-dark"><h3>主要城市人口排行榜</h3></td> <!--置中 合併儲存格3格-->
        </tr>
        <tr class="p-3 mb-2 bg-secondary text-white"> <!-- 標題欄灰色-->
            <th><center>城市</center></th><td align="center">人口數</td><td align="center">國家</td></tr><!-- table標題 -->
            {% for city in cities %}
            <tr>
                <th><center>{{ city.name }}</center></th>
                <td align="center">{{ city.population }}</td>
                <td align="center">{{ city.country }}</td>
            </tr>
            {% endfor %}
    </table>
    </div>
{% endblock %}
